button:focus, input:focus {
  outline: none;
}

.navbar {
  position: fixed;
  margin: 0px;
  width: 100vw;
  border-radius: 0px;
}

.category-btn {
  margin: 7px;
  margin-top: 8px;
  border-radius: 30px;
  font-family: Helvetica;
  color: white;
  background-color: #414244;
  border: none;
  width:31%;
  height:50px;
}

.category-btn:hover{
  background: linear-gradient(to right, #7f00ff, #e100ff);
}

.category-container{
  padding: 20px;
  width: 700px;
  background-color: black;
}

.ingredients-container{
  padding: 20px;
  width: 700px;
  height: 300px;
  overflow: scroll;
  background-color: black;
}

.dropdown-menu {
  padding: 0px;
}